* {
    font-family: "Roboto";
    box-sizing: border-box;

}

h1 {
    font-size: 1.6em;
    font-weight: 300;
}

h2 {
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0;
}

h3 {
    font-size: 1.1em;
    margin: 0px;
}

p {
    font-size: 1em;
    font-weight: 300;
    margin: 0px;
}

#welcome {
  border: 1px solid black;
  height: auto;
  width: 300px;
  position: fixed;
  text-align: left;
  padding: 15px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  transition: margin-top 0.5s ease;
}

#header {
    position: sticky;
    top: 10px;
    width: 100%;
    font-size: 1em;
    display: none;
    /* height: 50px; */
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    z-index: 1000000;
    background-color: white;
    /* box-sizing: border-box; */
  }
  
#controller {
    align-items: center;
    white-space: pre;
    display: flex;  
}

#app {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

#printArea {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-content: right;
  width: 100%;
  top: 60px;
  margin: 0;
  padding: 0;
}

.print {
    top: 10px;
    width: auto;
    right: 0;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: white;
}

.column {
    width: auto;
    margin: 0;
    padding: 10px;
    display: inline-block;
    vertical-align: top;  
    position: relative;
}

.craft {
    border: 1px solid black;
    padding: 5px;
    margin: 0px;
    width: 300px;
    min-height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ship {
    position: absolute;
    text-align: center;
    background-color: white;
    transition: left 1s;
}

.base {
    margin: 100px 0px;
}

.project {
    border: 1px solid black;
    background-color: lightgray;
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px;
    margin: 0 0 5px 0;
}

.faded {
    background-color: white;
    color: gray;
}

.project:hover {
    cursor: pointer;
}

.faint {
    font-size: 0.8em;
    color: gray;
    font-style: italic;
    margin: 0;
    display: inline-block;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.sectionHeader {
    font-size: 0.7em;
    color: gray;
    text-align: left;
    margin-top: 10px;
}

.line {
    width: 100%;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.flexItem {
    display: inline;
}

.flexItem button{
    font-size: 0.8em;
    top: 0;
    padding: 0 2px;
    margin: 0;
    vertical-align: top;
    width: auto;
}

.flexInactive {
    background-color: white;
    border: 1px solid gray;
}

.flexHighlight {
    background-color: pink;
    border: 1px solid maroon;
}

.menu {
    margin-left: 5%;
    width: 95%;
    flex-direction: column;
    font-size: 0.95em;
    background: rgba(107, 107, 107, 0.1);
    display: none;
}

.menuTitle:hover{
    cursor: pointer;
}

.dockBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 3px;
    border: 1px solid black;
}

.dockButtonWrapper {
  background-color: lightpink;
  height: auto;
  padding: 2px;
}

.dockButtonWrapper button{
  margin: 0px 2px;
  vertical-align: center;
}

/* Range Slider */
input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    width: 100px;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }

  /* Chrome */
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: black;
    border: 0.5px solid black;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background: black;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: black;
  }
  /* Mozilla */
  input[type=range]::-moz-range-track {
    width: 100px;
    height: 1px;
    cursor: pointer;
    background: black;
    border: 0.5px solid black;
  }
  input[type=range]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background: black;
    cursor: pointer;
  }
  /* IE */
  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 0.5px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: black;
    border: 0.5px solid black;
    border-radius: 0.5px;
  }
  input[type=range]::-ms-fill-upper {
    background:black;
    border: 0.5px solid black;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    border: 0.5px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background: black;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: black;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: black;
  }